{% extends 'base.html.twig' %}

{% block title %}QuizzDesigner{% endblock %}

{% block header %} {{ parent() }} {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; width: 100%; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper justify-content-center">
        <h1 class="title text-center"  data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Vous retrouvez ici tous les quizz du site, cliquez sur les thèmes ci-dessous pour afficher les quizz associés.">Bienvenue dans Quizz Designer</h1>
        {# Carousel 3D #}

        <div class='caroussel_diapo'>
            <input checked id="carou_un" name="rotation" type="radio">
            <label for="carou_un"></label>

            <input id="carou_deux" name="rotation" type="radio">
            <label for="carou_deux"></label>

            <input id="carou_trois" name="rotation" type="radio">
            <label for="carou_trois"></label>

            <input id="carou_quatre" name="rotation" type="radio">
            <label for="carou_quatre"></label>

            <input id="carou_cinq" name="rotation" type="radio">
            <label for="carou_cinq"></label>

            <input id="carou_six" name="rotation" type="radio">
            <label for="carou_six"></label>

            <input id="carou_sept" name="rotation" type="radio">
            <label for="carou_sept"></label>

            <input id="carou_huit" name="rotation" type="radio">
            <label for="carou_huit"></label>

            <div class="contenu_carou">
                <div class="caroussel" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Cliquez sur un thème pour afficher les quizz correspondants.">
                    {% for theme in themeList %}
                        <div class="card text-center carouselCard" data-theme="{{ theme.nom }}">
                            <img class="" src="{{vich_uploader_asset(theme, 'imgFile')}}">
                            <div class="card-img-overlay">
                                <h1>{{ theme.nom }}</h1>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <buttton class="hide btn btn-outline-light" id="showAllQuizzes">Montrer tous les quizzes</buttton>

            </div>
        </div>

        <div class="container quizzList">
            <div class="row justify-content-start">

                {% for quizz in quizzList %}
                    <div class="container col-4 quizz" data-theme="{{ quizz.theme.nom }}" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Cliquez sur ce quizz pour jouer.">
                        <a href="{{ path('game',{id : quizz.id}) }}">
                            <div class="card bg-secondary quizzImgCard">
                                {% if quizz.filename %}
                                    <img class="imgBack" src="{{ vich_uploader_asset(quizz, 'imgFile') }}" alt="Card image">
                                {% elseif quizz.theme.filename %}
                                    <img class="imgBack" src="{{ vich_uploader_asset(quizz.theme, 'imgFile') }}" alt="Card image">
                                {% else %}
                                    <img class="imgBack" src="{{asset('images/logo-quizz-designer.JPG') }}" alt="Card image">
                                {% endif %}
                                <div class="card-body">
                                    <h2 class="card-title text-center">{{ quizz.nom }}</h2>
                                    <h5 class="card-title text-center">{{ quizz.theme.nom }}</h5>
                                    <hr>
                                    <div class="row">
                                        <p class="col-4">Difficulté : {{ quizz.difficulte }}</p>
                                        <p class="col-8">Nombre de questions : {{ quizz.questions | length }}</p>
                                    </div>
                                    {% if quizz.LastPartie(user.id) %}
                                        <p>Dernière partie : {{ quizz.LastPartie(user.id).date | date("d/m/Y") }}</p>
                                        {% if quizz.LastPartie(user.id).Etat == 1 %}
                                            <div class="row">
                                                <p class="col-6">État : <span class="text-success">Terminé</span></p>
                                                <p class="col-6">Score :
                                                    {% if quizz.LastPartie(user.id).score > quizz.NbPoints*0.6 %}
                                                        <span class="text-success">{{ quizz.LastPartie(user.id).score }}</span>
                                                    {% elseif quizz.LastPartie(user.id).score > quizz.NbPoints*0.4 and quizz.LastPartie(user.id).score < quizz.NbPoints*0.6 %}
                                                        <span class="text-warning">{{ quizz.LastPartie(user.id).score }}</span>
                                                    {% else %}
                                                        <span class="text-danger">{{ quizz.LastPartie(user.id).score }}</span>
                                                    {% endif %}
                                                    /{{ quizz.NbPoints }}</p>
                                            </div>
                                        {% else %}
                                            <div class="row">
                                                <p class="col-6">État : <span class="text-info">En cours</span></p>
                                                <p class="col-6">Score : {{ quizz.LastPartie(user.id).score }}/{{ quizz.NbPoints }}</p>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>

                    {#<div class="col-4 quizzImgCard" data-theme="{{ quizz.theme.nom }}">
                        <a href="{{ path('game',{id : quizz.id}) }}">
                            <div class="card quizzLink">
                                {% if quizz.filename %}
                                    <img class="imgBack" src="{{ vich_uploader_asset(quizz, 'imgFile') }}" alt="Card image" style="width: auto;height: 100%">
                                {% elseif quizz.theme.filename %}
                                    <img class="imgBack" src="{{ vich_uploader_asset(quizz.theme, 'imgFile') }}" alt="Card image" style="width: auto;height: 100%">
                                {% else %}
                                    <img class="imgBack" src="{{asset('images/logo-quizz-designer.JPG') }}" alt="Card image" style="width: auto;height: 100%">
                                {% endif %}
                                <div class="card-body">
                                    <h2 class="card-title">{{ quizz.nom }}</h2>
                                    <div class="">
                                        <h4> {{ quizz.theme.nom }}</h4>
                                        <h4> Difficulté : {{ quizz.difficulte }}</h4>
                                        <h4> Nombre de questions : {{ quizz.questions | length }}</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>#}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home_page')}}
{% endblock %}