{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block header %}{% endblock %}
{% block body %}
    <div class="Body">
        <canvas id="c"></canvas>
        <div class="container loginPage">

            <div class="QuizzDesignerTitle">
                <i class="fab fa-sketch" style="font-size: 100px"></i>
                <h1 style="font-size: 100px">QuizzDesigner</h1>
            </div>

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}


                <div class="container login">
                    <h1 class="h3 mb-3 font-weight-normal text-center title">Connexion</h1>
                    <div class="container loginForm">
                        <br>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control text-center" required autofocus placeholder="Email">
                        <br>
                        <input type="password" name="password" id="inputPassword" class="form-control text-center" required placeholder="Mot de passe">
                        <div class="forgotPassword">
                            <a href="">Mot de passe oublié ?</a>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}
                    <div class="register">
                        <a href="{{ path('app_register') }}">S'inscrire !</a>
                    </div>
                    <button class="btn btn-lg btn-outline-light submitButton" type="submit">
                        Se connecter
                    </button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('word_animation')}}
{% endblock %}
