{% extends 'base.html.twig' %}

{% block title %}Créez votre Quizz!{% endblock %}
{% block header %} {{ parent() }} {% endblock %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%;}
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">

        <div class="head row">
            <a class="back" href="{{ path('home_page') }}"><i class="fas fa-arrow-circle-left" style="font-size: 50px"></i></a>
            <div class="container">
                <div class="row">
                    <h1 class="title col-8">Nouveau Quizz</h1>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalTypeQuestion" tabindex="-1" role="dialog" aria-labelledby="Type de question" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary" id="titreModal">Choix du type de question</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body row justify-content-around">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="newQO">Question ouverte</button>
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="newQCM">Question à choix multiples</button>
                        </div>
                    </div>
                </div>
            </div>
            {# fin Modale #}

        </div>

        <div class="container">
            <form method="post" action="{{ path('create_quizz_page') }}" id="quizz">
                <div class="row justify-content-between align-items-center">
                    <input class="form-control form-control-lg col-6" type="text" placeholder="Titre du Quizz" name="QuizzTitle">
                    <select class="custom-select col-3" name="theme_list">
                        {% for theme in liste_themes %}
                            <option value="{{ theme.id }}">{{ theme.nom }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" class="btn btn-danger col-2" id="delQuizz"><i class="fas fa-ban"></i> Vider le quizz</button>
                </div>
                <div class="row mt-4 justify-content-between">
                    <label class="col-form-label">
                        Affichage des questions :
                        <input type="checkbox" name="QuizzOrdered" value="true" data-style="ios" checked data-toggle="toggle" data-onstyle="primary" data-offstyle="info" data-on="<i class='fa fa-sort'></i>  Ordonné" data-off="<i class='fa fa-random'></i>  Aléatoire">
                    </label>
                </div>

                {#<div id="question1" class="questionCard">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <div class="text-right">
                                <button type="button" class="btn btn-danger" id="btn-del-1">Supprimer</button>
                            </div>
                            <div class="row mt-2">
                                <input type="text" placeholder="Question" class="col-6" name="QuestionText1">
                                <div class="col-6">
                                    <input id="difficulte" type="number" placeholder="Nombre de points" class="col-6" min="0" max="10" name="QuestionDifficulty1">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="question2" class="questionCard">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <div class="row">
                                <div class="col-5">
                                    <input type="text" placeholder="Question" class="col-12" name="QuestionText2">
                                </div>
                                <div class="col-3">
                                    <input id="nb-points-Q1" type="number" class="col-10" placeholder="Nombre de points" min="0" max="10" name="QuestionDifficulty1">
                                </div>
                                <div class="col-2">
                                    <input id="auto-points-1" type="checkbox" class="col-6" checked data-toggle="toggle" data-on="Auto" data-off="Manuel" data-onstyle="info" data-offstyle="light">
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-danger" id="btn-del-1">Supprimer</button>
                                </div>
                            </div>
                            <div class="row mt-2" id="answersQ2">
                                <div class="col-7 form-check form-check-inline">
                                    <input type="checkbox" class="col-2" data-toggle="toggle" data-on="<i class='fa fa-check-square'></i>" data-off="<i class='fa fa-times'></i>" value="Correct" name="Q2-A1-check" data-onstyle="success" data-offstyle="danger">
                                    <span class="col-1"></span>
                                    <input type="text" placeholder="Réponse" class="form-control col-8" name="Q2-A1-txt">
                                </div>
                                <div class="col-4 form-check form-check-inline">
                                    <input type="number" class="col-4 answer-points" placeholder="Points" min="0" max="10" name="QuestionDifficulty1">
                                    <span class="col-3"></span>
                                    <button type="button" class="btn btn-danger col-2" id="delAnswerQ1"><i class="fas fa-ban"></i></button>
                                </div>
                            </div>
                            <div class="row mt-2 justify-content-center">
                                <div class="col-3">
                                    <button type="button" class="btn btn-primary col-12" id="addAnswerQ1"><i class="fas fa-plus"></i> Ajouter une réponse</button>
                                </div>
                            </div>

                    </div>#}

            </form>
            <div class="row mt-3 justify-content-between">
                <button type="button" class="btn btn-success col-2" id="newQuestion" data-toggle="modal" data-target="#modalTypeQuestion"><i class="fas fa-plus"></i> Ajouter une Question</button>
                <input class="btn btn-success col-2" type="submit" value="Créer le quizz" form="quizz">
            </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('create_quizz_page')}}
{% endblock %}
