{% extends 'base.html.twig' %}

{% block title %}Créez votre Quizz!{% endblock %}
{% block header %} {{ parent() }} {% endblock %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%;}
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">

        <div class="head row">
            <a class="back" href="{{ path('admin_dash_board') }}"><i class="fas fa-arrow-circle-left" style="font-size: 50px"></i></a>
            <div class="container">
                <div class="row">
                    <h1 class="title col-8">Nouveau Quizz</h1>
                </div>
            </div>
            {# Modale #}
            <div class="modal fade" id="modalTypeQuestion" tabindex="-1" role="dialog" aria-labelledby="Type de question" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary" id="titreModal">Choix du type de question</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body row justify-content-around">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="newQO">Question ouverte</button>
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="newQCM">Question à choix multiples</button>
                        </div>
                    </div>
                </div>
            </div>
            {# fin Modale #}

        </div>

        <div class="container">
            <form method="post" action="{{ path('create_quizz_page') }}" id="quizz" enctype="multipart/form-data">
                <div class="row justify-content-between align-items-center">
                    <input class="form-control form-control-lg col-6" type="text" placeholder="Titre du Quizz" name="QuizzTitle" required>
                    <select class="custom-select col-3" name="theme_list">
                        {% for theme in liste_themes %}
                            <option value="{{ theme.id }}">{{ theme.nom }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" class="btn btn-danger col-2" id="delQuizz"><i class="fas fa-ban"></i> Vider le quizz</button>
                </div>
                <div class="row mt-4 justify-content-between">
                    <label class="col-form-label">
                        Affichage des questions :
                        <input type="checkbox" name="QuizzOrdered" value="true" data-style="ios" checked data-toggle="toggle" data-onstyle="primary" data-offstyle="info" data-on="<i class='fa fa-sort'></i>  Ordonné" data-off="<i class='fa fa-random'></i>  Aléatoire">
                    </label>
                    <label class="col-form-label">
                        Difficulté :
                        <button type="button" class="btn btn-secondary" style="background-color: transparent; padding: 0; border: 0"
                                data-toggle="tooltip" data-placement="top" data-html="true" title="<p>Choississez la difficulté de votre questionnaire :</p><p>1 -> Le plus facile</p><p> 10 -> Le plus difficile</p>">
                            <i class="fas fa-question-circle"></i>
                        </button>
                        <input type="number" class="text-center" name="QuizzDifficulty" value="1" min="1" max="10">
                    </label>
                    <div class="custom-file col-4">
                        <input type="file" class="custom-file-input" id="customQuizImage" name="customQuizImage">
                        <label class="custom-file-label" for="customQuizImage">Ajouter une image à votre quizz</label>
                    </div>
                </div>
            </form>
            <div class="row mt-3 justify-content-between">
                <button type="button" class="btn btn-success col-2" id="newQuestion" data-toggle="modal" data-target="#modalTypeQuestion"><i class="fas fa-plus"></i> Ajouter une Question</button>
                <input class="btn btn-success col-2" type="submit" value="Créer le quizz" form="quizz">
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('create_quizz_page')}}
    {{ encore_entry_script_tags('create_quizz_page_validation')}}
{% endblock %}
