<div class="text-center">
    <h1> Inscription et Connexion</h1>
    *
</div>

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal bg-dark">
                    <div class="img-square-wrapper">
                        <img class="" src="{{asset('build/images/inscription.jpg')}}" alt="Card image cap" height="400vh" width="700vw">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">S'inscrire</h2>
                        <hr>
                        <h3 class="card-text">Cette page vous permet de vous inscrire, entrez les informations demandées dans le formulaire.</h3>
                        <br>
                        <h4 class="card-text">Une vérification sera faite pour s'assurer que vous avez bien rempli 2 fois la même adresse et le même mot de passe.</h4>
                        <h4 class="card-text">Une fois toutes les informations renseignées, votre compte est créé et vous êtes automatiquement connecté.</h4>
                        <br>
                        <p class="card-text">Vous avez déjà un compte ? Pas de panique cliquez sur le bouton "Se connecter" !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal bg-dark">
                    <div class="card-body">
                        <h2 class="card-title">Connexion</h2>
                        <hr>
                        <h3 class="card-text">Si vous avez déjà un compte, connectez vous pour accéder aux différents quizzes !</h3>
                        <br>
                        <h4 class="card-text">Entrez vos informations de connexion puis validez.</h4>
                        <h4 class="card-text">Vous êtes prêt à jouer !</h4>
                    </div>

                    <div class="img-square-wrapper">
                        <img class="" src="{{asset('build/images/login.jpg')}}" alt="Card image cap" height="400vh" width="700vw">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<hr>
<br>
<div class="text-center">
    <h1>La page d'accueil</h1>
    <h3>Votre compte est créé et vous êtes connecté ?</h3>
    <h3>Parfait, vous allez maintenant pouvoir jouer à tous les quizzes présents sur notre site</h3>
    *
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card bg-dark mb-3">
                <img class="card-img-top" src="{{asset('build/images/home_page.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Vous trouverez en premier sur cette page 8 thèmes sélectionnés au hasard et mis en avant grâce au carousel.</h4>
                    <h4 class="card-title">Cliquez sur un thème pour n'afficher que les quizzes en rapport avec le thème sélectionné.</h4>
                    <br>
                    <h4 class="card-title">Vous pouvez également accéder à votre historique en cliquant sur votre nom en haut à droite puis sur "Historique des parties".</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    *
    <h1>Envie de tester vos connaissances ?</h1>
    <h3>Il vous suffit de descendre légèrement sur la page d'accueil pour découvrir les quizzes !</h3>
    *
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card bg-dark mb-3">
                <img class="card-img-top" src="{{asset('build/images/quizzlist.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Choisissez le Quizz qui vous plait, vous pouvez voir le titre, le thème, la difficulté et le nombre de question de chaque quizzes.</h4>

                    <br>
                    <h4 class="card-title">Vous avez quitté notre site sans terminer un quizz ? Pas de soucis, votre avancement est sauvegardé, vous pouvez reprendre un quizz là où vous l'aviez laissé.</h4>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    *
    <h1>Jouer un quizz</h1>
    *
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card bg-dark mb-3">
                <img class="card-img-top" src="{{asset('build/images/play_quizz.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Répondez aux questions une par une, les questions peuvent être de type "ouverte" ou "QCM".</h4>
                    <h4 class="card-title">Suivez votre avancement en consultant le nombre de questions restantes.</h4>
                    <h4 class="card-title">Votre score est mis à jour à chaque réponse !</h4>
                    <br>
                    <h4 class="card-title">Besoin d'un indice ? Passez votre souris sur le point d'interrogation à coté de la question</h4>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    *
    <h1>Votre Historique !</h1>
    <h3>Consultez toutes vos parties jouées ET en cours.</h3>*
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card bg-dark mb-3">
                <img class="card-img-top" src="{{asset('build/images/historique.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Consultez les derniers quizzes auxquels vous avez joué.</h4>

                    <br>
                    <h4 class="card-title">Consultez l'avancement de vos quizzes, vos meilleurs scores, rejouez aux quizzes que vous avez aimé.</h4>

                </div>
            </div>
        </div>
    </div>
</div>