{% extends 'base.html.twig' %}

{% block title %} {{ quizz.nom }} {% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">

    <div class="head row">
        <a class="back" href="{{ path('home_page') }}"><i class="fas fa-arrow-circle-left" style="font-size: 50px"></i></a>
        <div class="container">
            <div class="row">
                <h1 class="title col-8">{{ quizz.nom }}</h1>
            </div>
        </div>
    </div>
    <div class="card mb-3 bg-light">
        {% if quizz.filename %}
        <img src="{{ vich_uploader_asset(quizz,'imgFile') }}" class="card-img-top" alt="{{ quizz.nom }}" style="width: 100%;height: auto">
        {% endif %}
        <div class="card-body text-dark">
            <div class="row justify-content-between">
                <h5 class="card-title text-primary"> Thème : {{ quizz.theme.nom }}</h5>
                <h5 class="card-title text-primary"> Difficulté du Quizz : {{ quizz.difficulte }}</h5>
            </div>
            <div class="row justify-content-around">
                <p class="card-text"> Score actuel : {{ partie.score }} / {{ nb_points_quizz }}</p>
                <p class="card-text"> {{ nb_questions_restantes }} questions restantes</p>
            </div>
            <p class="card-text"><small class="text-muted">Dernière modification du quizz le {{ quizz.updatedAt.format('d/m/Y') }}.</small></p>
        </div>
    </div>
    <!-- Card -->
    <div class="card bg-white question-div" data-is-qcm="{{ question.type=="QCM" ? 'true':'false' }}" data-infos-qcm="{{ points | json_encode }}">

        <!-- Card image -->
        <div class="view overlay">
            {% if question.filename %}
            <img class="card-img-top" src="{{ vich_uploader_asset(question,'imageFile') }}"
                 alt="{{question.libelle}}">
            {% endif %}
            <div class="mask rgba-white-slight"></div>
        </div>

        <!-- Card content -->
        <div class="card-body text-secondary answers-div">

            <!-- Title -->
            <h4 class="card-title text-dark">{{ question.libelle }}</h4>
            <!-- Text -->
            {% if question.type == "QCM" %}
                <p class="card-text">{{ question.aide }}</p>
            {% endif %}
            {{ form(form) }}
            {% if question.type == "QCM" %}
            <div class="row justify-content-end">
                <button class="btn btn-success" id="validation"><i class="fa fa-check"></i> Valider ma réponse</button>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Card -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('game')}}
{% endblock %}