<div class="container">
    <div class="row justify-content-around">
        <h1 class="col-8">Mes Quiz :</h1>
        <a class="col-1.5" href="{{ path('create_quizz_page') }}"><button type="button" class="btn btn-success"><i class="fas fa-plus"></i> Créer Quiz</button></a>
    </div>
    <br>
    <div class="row">
        {% for quizz in quizzes %}
            <div class="quizzCard col-12">
                <div class="container quizzCardContent">
                    <div class="row align-items-center">
                        <div class="card-title col-5">
                            <a href="{{ path('game',{id : quizz.id}) }}">
                                <h1 style="color: white">{{ quizz.nom }}</h1>
                            </a>
                        </div>
                        <h5 class="col-4">Difficulté : {{ quizz.difficulte }}</h5>
                        <div class="deleteButton col-1">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#suppressionModal-{{ quizz.id }}"><i class="fas fa-trash-alt"></i></button>
                        </div>
                        {#<a href="{{ path('delete_quiz', {id : quizz.id}) }}" class="deleteButton col-1"><button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>#}
                    </div>
                    <div class="row align-items-center">
                        <h5 class="col-7">Thème : {{ quizz.theme.nom }}</h5>
                        <h5 class="col-5">Ordonné : {% if quizz.EstOrdonne == 0 %} Non {% else %} Oui {% endif %}</h5>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="suppressionModal-{{ quizz.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-danger text-center" id="exampleModalLabel">Supprimer le quizz "{{ quizz.nom }}" ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-dark">
                            <p>Voulez vous vraiment supprimer ce quizz ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <a href="{{ path('delete_quiz', {id : quizz.id}) }}" id="deleteButton"><button type="button" class="btn btn-danger" >Supprimer</button></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>