<div class="container">
    <div class="row justify-content-around">
        <h1 class="col-8">Mes Themes :</h1>
        <a class="col-1.5" href="{{ path('add_theme') }}"><button type="button" class="btn btn-success"><i class="fas fa-plus"></i> Créer Theme</button></a>
    </div>
    <br>
    <div class="row justify-content-around">
        {% for theme in themes %}
            <div class="card quizzCard col-3 quizzCardContent align-self-start">
                <img class="card-img-top" src="{{ vich_uploader_asset(theme, 'imgFile') }}" alt="" style="height: 150px; width: 100%">
                <div class="row card-img-overlay">
                    <div class="card-title col-12">
                        <h2>{{ theme.nom }}</h2>
                    </div>
                </div>
                <div class="dropup show deleteButton" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Clique ici pour changer la photo et le nom de ton thème ou le supprimer.">
                    <a class="btn" style="color: white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('modify_theme', {id : theme.id}) }}"><i class="fas fa-edit"></i> Modifier</a>
                        <button type="button" class=" dropdown-item btn btn-outline-danger text-danger" data-toggle="modal" data-target="#suppressionModal-{{ theme.id }}">
                            <i class="fas fa-trash"></i> Supprimer
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="suppressionModal-{{ theme.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-danger text-center" id="exampleModalLabel">Supprimer le thème "{{ theme.nom }}" ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-dark">
                            <p>La suppression d'un thème entrainera la suppression des quizzes qui sont associés.</p>
                            <p>Voulez vous continuer ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <a href="{{ path('delete_theme', {id : theme.id}) }}" id="deleteButton"><button type="button" class="btn btn-danger" >Supprimer</button></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>